* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* ****Top Banner**** */

.top-banner {
  background-color: #2e8b57;
  color: white;
  text-align: center;
  padding: 8px;
  font-size: 1em;
}

/* ****Footer**** */
.footer {
  background-color: #2e8b57;
  padding: 20px 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 15px;
}

.footer-logo img {
  height: 50px;
}

.footer-nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.footer-nav a:hover {
  color: #17462c;
}

.payment-methods img {
  height: 25px;
  margin-left: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
}

.footer-links ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  color: #17462c;
}

/* .social-icons a {
  color: #fff;
  font-size: 1.5em;
  margin: 0 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #20613d;
} */

.contact-info {
  text-align: right;
  color: #fff;
}

.contact-info p {
  margin: 5px 0;
}

.copyright {
  text-align: center;
  padding: 10px;
  background-color: #2e8b57;
  color: #fff;
  font-size: 0.9em;
  margin-top: 10px;
}

/* *********colors********* */
/* 
green T3 writnig #2e8b57
hover of green : #20613d
yellow : #ffe066


*/
